In [1]:
import pandas as pd
import json
import csv
import polars as pl
from io import StringIO
#!pip install polars

In [4]:
# with open('test.jsonl', encoding='utf-8') as file:
#     test = file.readlines()
# # train 셋 가져오기

# slice_size = 1_000_000
# df = pl.concat(
#     [
#         pl.read_json(
#             StringIO("".join(test[offset: (offset + slice_size)])),
#             json_lines=True,
#         )
#         for offset in range(0, len(test), slice_size)
#     ]
# )
# #converting struct of events in 3 columns(aid,ts,type) 
# test=df.explode('events').unnest('events')
# # event 쪼개주기

In [11]:
train_1 = pd.DataFrame()
chunks = pd.read_json('train.jsonl', lines=True, chunksize=500000)

for e, chunk in enumerate(chunks):
    event_dict = {
        'session': [],
        'aid': [],
        'ts': [],
        'type': [],
    }
    if e < 2:
        # train_1 = pd.concat([train_sessions, chunk])
        for session, events in zip(chunk['session'].tolist(), chunk['events'].tolist()):
            for event in events:
                event_dict['session'].append(session)
                event_dict['aid'].append(event['aid'])
                event_dict['ts'].append(event['ts'])
                event_dict['type'].append(event['type'])
        chunk_session = pd.DataFrame(event_dict)
        train_1 = pd.concat([train_1, chunk_session])
    else:
        break
        
train_1 = train_1.reset_index(drop=True)

In [8]:
train_1.tail()
#chunk_size = 100_000 일 때

          session      aid             ts    type
10285556   199999   928064  1659336408967  clicks
10285557   199999   849970  1659336449078  clicks
10285558   199999  1052480  1659336547035  clicks
10285559   199999   487255  1659336561116  clicks
10285560   199999  1138833  1659336575075  clicks

In [10]:
train_1.tail()
#chunk_size = 200000 일 때 (5-10분)

          session      aid             ts    type
18739942   399999   680003  1661371629957  clicks
18739943   399999  1810497  1661371643038  clicks
18739944   399999  1810497  1661703105912  clicks
18739945   399999  1073953  1661703159544  clicks
18739946   399999  1810497  1661703468824  clicks

In [12]:
train_1.tail()
#chunk_size = 500000 일 때 (38분)

          session      aid             ts    type
39889595   999999    53921  1659464388426  clicks
39889596   999999   729903  1659464422467  clicks
39889597   999999    53921  1659464475617  clicks
39889598   999999  1839535  1659464828905  clicks
39889599   999999    31572  1660932273406  clicks

In [ ]:
train_1.to_csv('train1.csv',index=False,header = True)
#train_1 꺼내기

In [10]:
# with open ('test.jsonl', encoding='utf-8') as file:
#   test = [json.loads(line) for line in file]

In [2]:
test = pd.DataFrame()
chunks = pd.read_json('test.jsonl', lines=True, chunksize=100_000)

for e, chunk in enumerate(chunks):
    event_dict = {
        'session': [],
        'aid': [],
        'ts': [],
        'type': [],
    }
    if e < 2:
        for session, events in zip(chunk['session'].tolist(), chunk['events'].tolist()):
            for event in events:
                event_dict['session'].append(session)
                event_dict['aid'].append(event['aid'])
                event_dict['ts'].append(event['ts'])
                event_dict['type'].append(event['type'])
        chunk_session = pd.DataFrame(event_dict)
        test = pd.concat([test, chunk_session])
    else:
        break
        
test = test.reset_index(drop=True)

In [3]:
test.to_csv('test.csv',index=False,header = True)
# test 꺼내기