In [37]:
import pandas as pd
import csv
from datetime import datetime
import time

In [2]:
train = pd.read_csv('train1.csv')
test = pd.read_csv('test.csv')

In [52]:
a = test[test['session']==13099709]

In [63]:
print(time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(int(1661795824262))))

OSError: [Errno 22] Invalid argument

In [64]:
time.time()

1673457526.354807

In [53]:
a

         session      aid             ts    type
927869  13099709  1440858  1661795824262  clicks
927870  13099709   436247  1661797942924  clicks
927871  13099709   714968  1661797967593  clicks
927872  13099709   714968  1661797975171   carts
927873  13099709   714968  1661798033996  orders
927874  13099709  1052515  1661810241969  clicks
927875  13099709   274204  1661810288959  clicks

In [13]:
train.type.unique()

array(['0', 'carts', 'orders'], dtype=object)

In [16]:
train['type'] = train['type'].str.replace('clicks','0', )
train['type'] = train['type'].str.replace('carts','1', )
train['type'] = train['type'].str.replace('orders','2', )

test['type'] = test['type'].str.replace('clicks','0', )
test['type'] = test['type'].str.replace('carts','1', )
test['type'] = test['type'].str.replace('orders','2', )

In [17]:
train.type.unique()

array(['0', '1', '2'], dtype=object)

In [65]:
train["minutes"] = train[["session", "ts"]].groupby("session").diff(-1)*(-1/1000/60)
train

          session      aid             ts    type       minutes
0               0  1517085  1659304800025  clicks      1.741433
1               0  1563459  1659304904511  clicks   1042.248583
2               0  1309446  1659367439426  clicks      4.676183
3               0    16246  1659367719997  clicks      2.522450
4               0  1781822  1659367871344  clicks      0.240867
...           ...      ...            ...     ...           ...
39889595   999999    53921  1659464388426  clicks      0.567350
39889596   999999   729903  1659464422467  clicks      0.885833
39889597   999999    53921  1659464475617  clicks      5.888133
39889598   999999  1839535  1659464828905  clicks  24457.408350
39889599   999999    31572  1660932273406  clicks           NaN

[39889600 rows x 5 columns]