In [2]:
import pandas as pd
import csv
import time
import numpy as np
import matplotlib.pyplot as plt
import polars as pl
import xgboost as xgb

In [3]:
paths = ['submission_rerank_0.575.csv', 'submission2_5_0.578.csv', 'submission_cvm_0.542.csv']

In [4]:
def read_sub(path, weight=1):
    return(
        pl.read_csv(path)
        .with_column(pl.col('labels').str.split(by=' '))
        .with_column(pl.lit(weight).alias('vote'))
        .explode('labels')
        .rename({'labels': 'aid'})
        .with_column(pl.col('aid').cast(pl.UInt32))
        .with_column(pl.col('vote').cast(pl.UInt8))
    )

In [5]:
subs = [read_sub(path) for path in paths]
subs[0].head()

shape: (5, 3)
┌─────────────────┬─────────┬──────┐
│ session_type    ┆ aid     ┆ vote │
│ ---             ┆ ---     ┆ ---  │
│ str             ┆ u32     ┆ u8   │
╞═════════════════╪═════════╪══════╡
│ 12899779_clicks ┆ 59625   ┆ 1    │
│ 12899779_clicks ┆ 1253524 ┆ 1    │
│ 12899779_clicks ┆ 737445  ┆ 1    │
│ 12899779_clicks ┆ 438191  ┆ 1    │
│ 12899779_clicks ┆ 731692  ┆ 1    │
└─────────────────┴─────────┴──────┘

In [7]:
subs = subs[0].join(subs[1], how='outer', on=['session_type', 'aid']).join(subs[2], how = 'outer', on=['session_type', 'aid'], suffix = '_right2')

In [8]:
subs = (subs
    .fill_null(0)
    .with_column((pl.col('vote') + pl.col('vote_right') + pl.col('vote_right2')).alias('vote_sum'))
    .drop(['vote', 'vote_right', 'vote_right2'])
    .sort(by='vote_sum')
    .reverse()
)

subs.head()

shape: (5, 3)
┌─────────────────┬─────────┬──────────┐
│ session_type    ┆ aid     ┆ vote_sum │
│ ---             ┆ ---     ┆ ---      │
│ str             ┆ u32     ┆ u8       │
╞═════════════════╪═════════╪══════════╡
│ 13574184_orders ┆ 607738  ┆ 3        │
│ 13574184_orders ┆ 1180072 ┆ 3        │
│ 13574184_orders ┆ 1607333 ┆ 3        │
│ 13574184_orders ┆ 867544  ┆ 3        │
│ 13574184_orders ┆ 942224  ┆ 3        │
└─────────────────┴─────────┴──────────┘

In [9]:
%%time
preds = subs.groupby('session_type').agg([
    pl.col('aid').head(20).alias('labels')
])

preds = preds.with_column(pl.col('labels').apply(lambda lst: ' '.join([str(aid) for aid in lst])))

CPU times: total: 4min 56s
Wall time: 4min 20s

In [10]:
preds.write_csv('submission.csv')

In [11]:
preds

shape: (5015409, 2)
┌─────────────────┬─────────────────────────────────────┐
│ session_type    ┆ labels                              │
│ ---             ┆ ---                                 │
│ str             ┆ str                                 │
╞═════════════════╪═════════════════════════════════════╡
│ 14139658_carts  ┆ 199409 148725 481213 429447 1056... │
│ 14019634_carts  ┆ 1008494 1311090 623828 1785895 1... │
│ 13179740_clicks ┆ 727928 148534 986164 986164 2747... │
│ 13859500_clicks ┆ 1789394 718964 1373406 40740 130... │
│ ...             ┆ ...                                 │
│ 14064168_orders ┆ 43749 439759 1241967 988954 1645... │
│ 14434122_orders ┆ 511746 264053 81487 1785639 1756... │
│ 13666115_clicks ┆ 1089384 1636859 501077 532941 11... │
│ 13714963_carts  ┆ 1310373 923948 554660 1102222 16... │
└─────────────────┴─────────────────────────────────────┘

In [13]:
preds[0,1]

'199409 148725 481213 429447 10565 1508734 102005 1639829 619309 1084146 894938 1450052 198599 1303888 819288 169239 1752091 847138 1304914 857553'

In [ ]:
preds.to_csv('submission_sam.csv', index=False)